<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.ItemMapper">

<!-- item全件取得 -->
<select id="findAll" resultMap="itemMap">
  SELECT
        i.id
        , i.name
        , i.condition
        , c.name_all
        , i.brand
        , i.price
        , i.shipping
        , i.description
  FROM
        items AS i
  JOIN
        category AS c
  ON
        i.category = c.id
  ORDER BY
        i.id
  LIMIT
        #{perPage}
  OFFSET
        #{perPage} * (#{currentPage} - 1)
</select>

<resultMap id="itemMap" type="com.example.entity.Item">
  <id property="id" column="id" />
  <result property="name" column="name" />
  <result property="condition" column="condition" />
  <result property="brand" column="brand" />
  <result property="price" column="price"/>
  <result property="shipping" column="shipping"/>
  <result property="description" column="description"/>
  <association property="category" resultMap="categoryResult" />
</resultMap>

<resultMap id="categoryResult" type="com.example.entity.Category">
  <id property="id" column="id" />
  <result property="nameAll" column="name_all" />
</resultMap>

<!-- idでitemの詳細情報を取得 -->
<select id="findById" resultMap="itemMap">
  SELECT
        i.id
        , i.name
        , i.condition
        , c.name_all
        , i.brand
        , i.price
        , i.shipping
        , i.description
  FROM
        items AS i
  JOIN
        category AS c
  ON
        i.category = c.id
  WHERE
        i.id = #{id}
</select>

<!-- item検索 -->
<select id="search" resultMap="itemMap">
  SELECT
        i.id
        , i.name
        , i.condition
        , c.name_all
        , i.brand
        , i.price
        , i.shipping
        , i.description
  FROM
        items AS i
  JOIN
        category AS c
  ON
        i.category = c.id
  WHERE
        1 = 1
  <choose>
    <!-- 親 -->
    <when test="(itemSearch.parentCategory != null and itemSearch.parentCategory != '') and (itemSearch.childCategory == null or itemSearch.childCategory == '') and (itemSearch.grandChild == null or itemSearch.grandChild == '')">
      AND c.name_all LIKE #{itemSearch.parentCategory} || '%'
    </when>
    <!-- 親・子 -->
    <when test="(itemSearch.parentCategory != null and itemSearch.parentCategory != '') and (itemSearch.childCategory != null and itemSearch.childCategory != '') and (itemSearch.grandChild == null or itemSearch.grandChild == '')">
      AND c.name_all LIKE #{itemSearch.parentCategory} || '/' || #{itemSearch.childCategory} || '/' || '%'
    </when>
    <!-- 親・子・孫 -->
    <when test="(itemSearch.parentCategory != null and itemSearch.parentCategory != '') and (itemSearch.childCategory != null and itemSearch.childCategory != '') and(itemSearch.grandChild != null and itemSearch.grandChild != '')">
      AND c.name_all = #{itemSearch.parentCategory} || '/' || #{itemSearch.childCategory} || '/' || #{itemSearch.grandChild}
    </when>
    <otherwise>
      AND 1 = 1
    </otherwise>
  </choose>

  <if test="itemSearch.name != null and itemSearch.name != ''">
    AND name LIKE '%' || #{itemSearch.name} || '%'
  </if>
  <if test="itemSearch.brand != null and itemSearch.brand != ''">
    AND brand LIKE '%' || #{itemSearch.brand} || '%'
  </if>

  ORDER BY
        i.id
  LIMIT
        #{pagenation.perPage}
  OFFSET
        #{pagenation.perPage} * (#{pagenation.currentPage} - 1)
</select>

<!-- 総レコード数取得 -->
<select id="countItems" resultType="int">
  SELECT
        count(*)
  FROM
        items AS i
  JOIN
        category AS c
  ON
        i.category = c.id
  WHERE
        1 = 1
  <choose>
    <!-- 親 -->
    <when test="(parentCategory != null and parentCategory != '') and (childCategory == null or childCategory == '') and (grandChild == null or grandChild == '')">
      AND c.name_all LIKE #{parentCategory} || '%'
    </when>
    <!-- 親・子 -->
    <when test="(parentCategory != null and parentCategory != '') and (childCategory != null and childCategory != '') and (grandChild == null or grandChild == '')">
      AND c.name_all LIKE #{parentCategory} || '/' || #{childCategory} || '/' || '%'
    </when>
    <!-- 親・子・孫 -->
    <when test="(parentCategory != null and parentCategory != '') and (childCategory != null and childCategory != '') and (grandChild != null and grandChild != '')">
      AND c.name_all = #{parentCategory} || '/' || #{childCategory} || '/' || #{grandChild}
    </when>
    <otherwise>
      AND 1 = 1
    </otherwise>
  </choose>

  <if test="name != null and name != ''">
    AND name LIKE '%' || #{name} || '%'
  </if>
  <if test="brand != null and brand != ''">
    AND brand LIKE '%' || #{brand} || '%'
  </if>
</select>

</mapper>