<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.ItemMapper">

<!-- item全件取得 -->
<select id="findAll" resultType="com.example.entity.Item">
  SELECT
        id
        , name
        , condition
        , category
        , brand
        , price
        , shipping
        , description
  FROM
        items
  ORDER BY
        id
  LIMIT
        #{perPage}
  OFFSET
        #{perPage} * (#{currentPage} - 1)
</select>

<!-- idでitemの詳細情報を取得 -->
<select id="findById" resultType="com.example.entity.Item">
  SELECT
        id
        , name
        , condition
        , category
        , brand
        , price
        , shipping
        , description
  FROM
        items
  WHERE
        id = #{id}
</select>

</mapper>